{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}
{% block body %}
<div class="d-flex flex-column align-items-center">
    <div class="text-center border rounded shadow p-5">
        <form action="/history" method="POST" class="d-flex flex-column align-items-center">

            {% for file in files %}
                <button type = "submit"
                        name = "file"
                        value = "{{ file[0] }}"
                        class = "btn btn-primary m-2"
                        >
                    {{file[1]}}
                </button>
            {% endfor %}

        </form>
    </div>
</div>
{% endblock %}